* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
}

h2 {
  font-size: 20px;
  color: #666;
}

main {
  padding: 20px;
}

#subtitle {
    border-bottom: 1px solid rgb(30, 30, 30);
    margin-bottom: 20px;
  }
  
legend {
  font-weight: bold;
  margin-bottom: 10px;
}

form{
  background-color: #d3d2d2;
  padding: 10px;
  border-radius: 20px;
}

.radio-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.input-gender {
  margin-right: 5px;
}

.input-umur, .input-berat, .input-tinggi {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.input-submit,
button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #666;
}

[name="hasil"] {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
}

span {
  font-weight: bold;
}

.download-container {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3d2d2;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

  .download-container img {
    width: 200px;
    height: auto;
    margin: 5px;
  }

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
}
